/* Start default Theme */
span.Special,
.testimonials span,
.navbar-inverse .navbar-brand>span:hover{
    color: #289af0;
}.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,
 .dropdown-menu .divider,
 .option_box .color_option li,
.option_box .fa-cog,
#scroll_top{
    background-color: #289af0;
}.testimonials ol.carousel-indicators li.active {
    border:2px solid #289af0;
}.price-table .price-box:hover p{
    border:1px solid #289af0 
}.option_box .color_option{
    border:4px solid #289af0;
}.footer h3{
    color:#289af0;
}.footer .copyright span{
    color:#289af0
}::-webkit-scrollbar-thumb {
    background-color: #289af0;
}.page_abou_us hr,.faq hr{
    border-color:#289af0;
}.about_ceo .about-text button{background-color:#289af0;border-color: #2e6da400;}
.page_about_features .svg-inline--fa {
    color: #289af0;
}
/* Start default Theme */