body{
    padding-top:50px;
}h1,h2,h3,h4,h5,.lead{
    font-family:'Droid Sans',sans-serif
}
/* The Nav Bar */
.navbar-brand{font-size: 25px;}
.navbar-inverse .navbar-brand {
    color: #b5b5b5;
    transition:all .3s ease;
}.navbar{border-radius:0}.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {padding: 15px 35px;}.dropdown-menu>li>a{color: #cac5c5;}
.dropdown-menu .divider {
    margin-top: 0;
    margin-bottom:9px;
    overflow: hidden;
}.dropdown-menu>li>a{
    padding: 8px 20px;
    transition: all .5s ease;
}.dropdown-menu>li>a:hover{padding: 8px 25px;}
.navbar-right .dropdown-menu{
    right: auto;
    left: 0;
}/* End The Nav Bar */
/* start carouser */
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    width:100%;
    max-height:500px
}.carousel-indicators li{
    width: 35px;
    height: 10px;
    border: 1px solid #804f4f;
    border-radius: 35px;
}.carousel-indicators .active{
    width: 35px;
    height: 10px;
    margin: 2px;
    border-color:#140909;
}.carousel-caption{
    bottom: 155px;
    background-color:#5a5a5a6e
}.carousel-caption h5{font-size:22px}
.carousel-caption p{
    font-size:17px;
    margin-top:20px;
    line-height:30px
}/* End carouser */
/* Start about-section */
.about-section{text-align:center}
.about-section h1{
    color: #383636;
    font-size: 35px;
}.about-section p{
    color: #a7a5a5;
    font-size: 18px;
}/* about-section */
/* Start feature */
.feature{
    background-color:#e4e4e4;
    padding: 40px 0;
}.feature h1{
    padding-bottom:35px;
    font-weight: bold;
}.feature .feat{
    text-align:center;
    margin-bottom: 37px;
}.feature .feat h3{
    color: #9c9b9b;
    margin-top: 5px;
    font-weight: bold;
}.feature .feat .glyphicon{
    font-size:22px;
    color:#827b7b
}/* End feature */
/* Start testimonials */
.testimonials{padding:22px 0}
.testimonials h3{
    font-weight:bold;
    padding-bottom:20px
}.testimonials .lead{
    line-height:29px;
    color: #9c9b9b;
}.testimonials span{
    font-weight:bold
}.testimonials .carousel{min-height:170px}
.testimonials ol.carousel-indicators {bottom: -50px;}
.testimonials ol.carousel-indicators li{
    overflow:hidden;
    text-indent:0;
    width:74px;
    height:73px;
    opacity:.5;
    border:2px solid white;
    transition:all .2s ease
    /* position:absolute; */
}.testimonials ol.carousel-indicators li.active {opacity:1;}
.testimonials ol.carousel-indicators li img{
    width:100%;
    height:100%;
    /* position:relative */
}.testimonials .carousel-indicators{
    position:static;
    margin-left:auto;
    width:100%;
    padding-top:20px;
}/* End testimonials */
/* Start price-table */
.price-table{
    background-color:#e4e4e4;
    padding: 40px 0;
}.price-table h2{
    padding-bottom:35px;
    font-weight: bold;
}.price-table .price-box p{
    background-color: #e4e4e4;
    font-size: 20px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 11px auto;
    line-height: 60px;
    transition: all .5s ease;
    border:1px solid #e4e4e4 
}.price-table .price-box{
    background-color:white;
    padding:10px;
    margin-bottom:25px;
    padding-bottom:20px;
    border-radius: 3px;
}.price-table .price-box:hover p{
    background-color:#efefef;
    transform:rotate(360deg) scale(1.1,1.1);
}.price-table .price-box ul li{line-height:35px}
/* End price-table */
/* Start section Our_Time */
.our_time{
    background-image: url(../img/Screenshot_20.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat;
    min-height:600px;
}.item_our_time{
    min-height:600px;
    background-color:rgba(2,2,2,.7);
    color:rgb(235, 235, 235);
    padding-top:30px;
    padding-bottom:30px;
}.item_our_time h2{
    margin-bottom:40px;
    font-weight:bold
}.our_time .item_our_time .person img{
    width:250px;
    height:250px;
    border-radius: 50%;
    margin:10px auto;
    margin-top:40px
}.our_time .item_our_time .person h4{font-weight:bold}
.our_time .item_our_time .person .svg-inline--fa{
    font-size:22px;
    color: #ccc;
    margin: 0 3px;
}
/* End section Our_Time */
/* Start subscribe */
.subscribe{
    background-color:#e4e4e4;
    padding: 40px 0;
    overflow-x:hidden
}.subscribe .btn,.form-control{border-radius:0}
.subscribe .form-control{
    display: inline-block;
    width: auto; 
}/* End subscribe */
/* Start statistics */
.statistics{
    background-image: url(../img/itemstats.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    min-height:300px
}.statistics .item_statistics{
    background-color:rgba(2,2,2,0.7);
    padding: 40px 0;
    min-height:300px;
    color:white
}.statistics .item_statistics h2{
    margin-bottom:50px;
    font-weight:bold
}.statistics .item_statistics .stats{
    color:rgb(216, 216, 216);
    transition:all .5s ease-in-out;
    margin-bottom:40px
}.statistics .item_statistics .stats:hover{color:white}.statistics .item_statistics .svg-inline--fa{margin-bottom:19px}.statistics .item_statistics p{
    font-size: 31px;
    font-weight: bold;
}/* End statistics */
/* Start progres_bar */
.progres_bar{padding: 60px 0;}
.progres_bar .progress{height: 30px;}
.progres_bar .skills_info h3{
    margin-top: 3px !important;
    font-weight:bold;
}.progres_bar .skills_info p{
    line-height: 27px;
    font-size: 17px;
}.progres_bar .progress .progress-bar{
    line-height: 29px;
    font-size: 18px;
}/* End progres_bar */
/* Start content_us */
.content_us{
    background-image: url(../img/conactus.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    min-height:300px
}.content_us .item_content_us{
    background-color:rgba(2,2,2,0.7);
    padding: 40px 0;
    min-height:300px;
    color:white
}.content_us .item_content_us h3{
    font-weight:bold;
    margin-bottom:0
}.content_us .item_content_us p{
    font-size: 15px;
    margin-bottom:30px
}.content_us .item_content_us form input[type="text"],.content_us .item_content_us form textarea{
    border:0;
    background-color:rgba(82,87,87,.7);
}.content_us .item_content_us form textarea{
    min-height: 105px;
    max-width:100%
}.content_us .item_content_us form button{max-width:100%}
/* End content_us */

/* our_clients */
.our_clients{
    background-color:#ccc;
    padding: 40px 0;
}.our_clients  img{
    width: 100px;
    height: 60px;
    opacity:.7;
    transition:all .6s ease-in-out
}.our_clients  img:hover{opacity:1;}
/* our_clients */
/* Start Footer */
.footer{
    background-color:#111 ;
    color:#AAA;
    padding-top:20px
}.footer h3{margin:30px 0 20px;}
.footer .three_colemms{overflow:hidden;}
.footer .three_colemms li{
    float:left;
    width:33.3333%;
    padding:5px 0;
}.footer .socail_media {margin-bottom:30px }
.footer .socail_media li{
    float:left;
    opacity:.7;
    transition:all .6s ease-in-out;
}.footer .socail_media li:hover{opacity:1;}
.footer .socail_media img{
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:50%
}.footer .media img{
    width:55px;
    height:60px;
    opacity:.8
}.footer .media .media-heading{line-height:17px}
.footer .img-thumbnail{
    width:150px;
    height:115px;
    background-color:rgba(0,0,0,.5);
    border:1px solid #444;
    margin-bottom:5px;
    opacity: .8;   
}.footer .copyright{
    background-color:#333;
    margin-top:20px;
    font-size:17px;
    padding:10px 0
    /* text-indent:20px */
}
/* End Footer */
/* Start Media Quary */
@media (max-width:756px){
    .navbar-nav>li>a{
        padding-bottom: 4px;
        padding-top: 4px;
    }.navbar-nav>li>a.dropdown-toggle{
        padding-top:0;
        padding:4px 14px
    }.subscribe .form-control {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
}
/* End Media Quary */
/* Cahng color site */
.option_box{
    position:fixed;
    top:51px;
    left:0;
    z-index:999;
    color:#ccc;
    overflow-x:hidden
}.option_box .color_option{
    background-color:#333;
    padding:5px;
    float:left;
    display:none
}.option_box .color_option li{
    width:20px;
    height:20px;
    display:inline-block;
    margin-right:10px;
    margin-top:10px;
    cursor:pointer;
}.option_box .fa-cog{
    float:left;
    padding:5px;
    font-size:38px;
    color:#e4d6d6;
    cursor:pointer;
    opacity: .5;
}.option_box h4{
    margin-top:0;
    margin-bottom:0;
}
/* End color site */
/* load */
.load{
    background-color:#2980b9;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:99999;
}.sk-folding-cube {
    margin: 28% auto;
    width: 60px;
    height: 60px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}/* load */
/* scroll_top */
#scroll_top{
    position:fixed;
    right:10px;
    bottom:10px;
    border-radius:50%;
    color:#ccc;
    font-size:10px;
    padding:10px;
    opacity:.8;
    transition:all .7s ease-in-out;
    display:none;
    cursor:pointer
}#scroll_top:hover{
    opacity: 1;
}/* scroll_top */
/* About Bag */
nav[aria-label='breadcrumb']{background-color:#f5f5f5;}
nav[aria-label='breadcrumb'] .breadcrumb{
    padding: 10px 15px;
    margin-bottom: 0px;
    border-radius: 0;
}.page_abou_us h1{
    font-weight:bold
}.page_abou_us hr,.faq hr{width:70%}
    .page_about_features{
    padding: 50px 0;
}.page_about_features .svg-inline--fa{
    font-size:37px
}.page_about_features h3{
    font-weight:bold
}
/* about_ceo */
.about_ceo{padding: 50px 0;overflow-x:hidden}
.about_ceo img{
    height:352px;
    margin:auto
}.about_ceo h2{font-weight:bold}.about_ceo p{
    letter-spacing: 1px;
    line-height: 39px;
    font-size: 24px;
}.about_ceo .about-text{padding-top: 32px;}
/* about_ceo */
/* faq */
.faq h1,.faq p{
    margin-bottom:0;
    display:block
}.faq h1{font-weight:bold;}
.faq {padding:40px 0}.faq .panel-group{padding:22px 0}
.faq .panel-group .panel-heading{padding:10px;}
.faq .panel-group .panel{margin-bottom:15px}
.panel-default{display:block}
/* faq */
/* scrool */
::-webkit-scrollbar {width: 5px;}